if resume.work && resume.work.length
  .container.work-container
    +title('Experience', 'fa-light fa-briefcase')
    each work, idx in resume.work
      div.item
        +section-header(work.website, work.name, work.startDate, work.endDate, work.icon, work.position)
        if work.summary
          p.summary !{work.summary.replaceAll('\\n', '<br>')}
        if work.highlights && work.highlights.length
          ul.summary
            each highlight in work.highlights
              li= highlight
