.page {
  background: white;
  // width: 50%;
  display: block;
  // top, right, bottom, left.
  padding: 20px 12px 12px 12px;
  margin: 0 20%;
  border-top: 10px solid $primary-color;
  @include shadow();
  @include clearfix();
  font-size: 125%;
  
  @include mobile {
    padding: 5px;
    margin: 0;
  }
}

.resume-content {
  display: grid;
  grid-template-columns: 215px 1fr;
  
  @include mobile {
    display: block;
  }
 }

.item {
  margin-bottom: spacing(1);

  &:last-child {
    margin-bottom: 0;
  }
}
