.page {
  background: white;
  width: 50%;
  display: block;
  margin: 0 20%;
  border-top: 10px solid $primary-color;
  // top, right, bottom, left.
  padding: 20px 12px 12px 12px;
  @include shadow();
  @include clearfix();
  font-size: 125%;
}

.resume-content {
  display: grid;
  grid-template-columns: 200px 1fr;
 }

.item {
  margin-bottom: spacing(1);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration-line: underline;
  text-decoration-style: line;
  text-decoration-thickness: 0.5px;
}
