.container {
  margin-bottom: 15px;
}

.section-header {
  margin-top: 10px;
}

.resume-header {
  padding-bottom: 15px;
}

.keyline {
  width: 75%;
  margin: 2px 0 5px;
  border-top: 1px solid $primary-color;

  @include mobile {
    border-top: 2px solid $primary-color;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.summary {
  margin: spacing(1) 0 spacing(1);
}
