mixin info-tag(url, icon, text)
  .info-tag-container
    if icon
      i.fa(class=icon)
    if url
      h6.info-text
        a(href=url, target="_blank")
          | #{text}
    else
      h6.info-text #{text}
